#include <windows.h>

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileDescription", "QOV Thumbnail Provider"
      VALUE "FileVersion",     "1.0.0.0"
      VALUE "ProductName",     "QOV (Quite OK Video)"
      VALUE "OriginalFilename","QovThumbnailProvider.dll"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
